# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.exp
*.pdb

# Executables
*.exe
*.out
*.app

# Build files
build/
compiled/
java-package/openbci_gui_helpers/target/

# VS Code
.vscode/
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
cmake_install.cmake
CMakeCache.txt
GanglionNativeScan.vcxproj
GanglionNativeScan.vcxproj.filters
GanglionScan.vcxproj
GanglionScan.vcxproj.filters
openbci-gui-helpers.sln
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
3rdparty/SimpleBLE/simpleble/ALL_BUILD.vcxproj
3rdparty/SimpleBLE/simpleble/ALL_BUILD.vcxproj.filters
3rdparty/SimpleBLE/simpleble/cmake_install.cmake
3rdparty/SimpleBLE/simpleble/simpleble-c.vcxproj
3rdparty/SimpleBLE/simpleble/simpleble-c.vcxproj.filters
3rdparty/SimpleBLE/simpleble/SimpleBLE.sln
3rdparty/SimpleBLE/simpleble/simpleble.vcxproj
3rdparty/SimpleBLE/simpleble/simpleble.vcxproj.filters
3rdparty/SimpleBLE/simpleble/VERSION
3rdparty/SimpleBLE/simpleble/CMakeFiles/generate.stamp
3rdparty/SimpleBLE/simpleble/CMakeFiles/generate.stamp.depend
3rdparty/SimpleBLE/simpleble/export/simpleble/export.h
3rdparty/SimpleBLE/simpleble/libfmt/ALL_BUILD.vcxproj
3rdparty/SimpleBLE/simpleble/libfmt/ALL_BUILD.vcxproj.filters
3rdparty/SimpleBLE/simpleble/libfmt/cmake_install.cmake
3rdparty/SimpleBLE/simpleble/libfmt/FMT.sln
3rdparty/SimpleBLE/simpleble/libfmt/fmt.vcxproj
3rdparty/SimpleBLE/simpleble/libfmt/fmt.vcxproj.filters
3rdparty/SimpleBLE/simpleble/libfmt/CMakeFiles/generate.stamp
3rdparty/SimpleBLE/simpleble/libfmt/CMakeFiles/generate.stamp.depend
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeConfigureLog.yaml
CMakeFiles/generate.stamp
CMakeFiles/generate.stamp.depend
CMakeFiles/generate.stamp.list
CMakeFiles/TargetDirectories.txt
CMakeFiles/169bdb6ecb54b9cb29a827f249608a2d/generate.stamp.rule
CMakeFiles/3.27.4/CMakeCXXCompiler.cmake
CMakeFiles/3.27.4/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.27.4/CMakeRCCompiler.cmake
CMakeFiles/3.27.4/CMakeSystem.cmake
CMakeFiles/3.27.4/VCTargetsPath.txt
CMakeFiles/3.27.4/VCTargetsPath.vcxproj
CMakeFiles/3.27.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.27.4/CompilerIdCXX/CompilerIdCXX.vcxproj
CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
CMakeFiles/3.27.4/x64/Debug/VCTargetsPath.recipe
CMakeFiles/3.27.4/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
